#tienda {
    background-color: #f0f4f2;
    margin-left: 0px;
    margin-right: 0px;
    }

.item {
    width: auto;
    height: 280px;
}

#quienesTop {
    height: auto!important;
    /* border-bottom: 8px solid green;
    border-top: 8px solid green; */
    background-color: #f0f4f2;
  }

#quieneSomos {
    color: #266F43!important;
}

#parrafoQuienesSomos {
    font-size: 40px;
    text-align: center; /* Centra el texto horizontalmente */
}

#quieneSomos {
    width: auto;
    height: 80px;
    margin-left: 10px;
}


#quienesImg {
    margin: 20px;
    transition: transform 0.3s ease; /* Transición suave para el cambio de escala */
}

#quienesImg:hover {
    transform: scale(1.1); /* Cambia el tamaño al 110% al hacer hover */
}

#objetivos {
    color: #266F43!important;
}

#general {
    color: #266F43;
}

#symbol {
    width: 48px;
    height: auto;
    margin: 10px;
}

#principios {
    background-color: #AFD1BD;
    margin: 20px;
    padding-left: 30px;
    padding-right: 50px;
}



#symbol1 {
    width: 80px;
    height: auto;
    margin: 10px;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #AFD1BD;
}

#symbol2 {
    width: 80px;
    height: auto;
    margin: 10px;
    padding-top: 122px;
    padding-bottom: 122px;
    background-color: #AFD1BD;
}

#symbol3 {
    width: 80px;
    height: auto;
    margin: 10px;
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: #AFD1BD;
}
#symbol4 {
    width: 80px;
    height: auto;
    margin: 10px;
    padding-top: 138px;
    padding-bottom: 138px;
    background-color: #AFD1BD;
}
#symbol5 {
    width: 80px;
    height: auto;
    margin: 10px;
    padding-top: 38px;
    padding-bottom: 38px;
    background-color: #AFD1BD;
}

.text-muted {
    font-size: 32px;
    margin-top: 20px;
}